@import "../bower_components/susy/sass/susy";

$susy: (
  columns: 12,
  gutter-position: inside,
  math: fluid,
  output: float,
  flow: rtl,
);

*{
	box-sizing: border-box;
}

article{
	@include span(10 of 12);
	@include pre(1 of 12);
}

// landing slide inner layout
// stuff within container are centered

.slide--landing > div, .slide--introduction > div{
	display: flex;
	justify-content: center;
}

// default kiwi case - infinite components
// fit all of them within same row, 
// unless min-width is specified

.slide--infinite-components{
	display: flex;
	justify-content: space-around;
}

// two column case - menu section & main

.slide--left-pane-example, .slide--right-pane-example{
	.menu{
		width: span(2 of 12);
		float: left;
	}
	.main{
		width: span(10 of 12);
		float: left;
	}
}

// 3 col case - menu, main, aside

.slide--3-col-example{
	.menu{
		width: span(2 of 12);
		float: left;
	}
	.main{
		width: span(8 of 12);
		float: left;
	}
	.sidebar{
		width: span(2 of 12);
		float: left;
	}
}

// visual styling on landing page
.slide--landing{
	height: 100vh;
	img{
		padding: 5em;
	}
	.highlight{
		font-style: italic;
		background-color: yellow;
		font-weight: bold;
	}
}
// visual styling for widgets
.widget{
	margin: 0.5em;
	border-color: #878787;
	background-color: #eee;
	border-radius: 1em;
	h3{
		border-bottom: dotted 0.1em black ;
	}
	img{
		background-color: white;
		width: calc(100% - 0.2em);
		border: dotted 0.1em #eee;
	}
	h3, p{
		padding: 0.5em;
	}
}

// visual styling for menu and main sections
.menu, .main, .sidebar{
	color: white;
	padding: 2em;
	height: 40em;	
	border: dotted 0.05em #eee;
}
.menu{
	background-color: tomato;
}
.main{
	background-color: purple;
}
.sidebar{
	background-color: turquoise;
}

